.home-container {
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url('../../../img/Yourname.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.animebrand-text {
    margin-top: 50px;
    display: flex;
    flex: 0 0 10%;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    /* color: aliceblue; */
}

.carousel-text {
    display: flex;
    /* flex: 0 0 10%; */
    justify-content: center;
    transition: ease-in-out 4s;
    font-size: 1.5em;
}

.anime-display {
    display: flex;
    flex: 0 0 80%;
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
    justify-content: center;
    align-items: flex-start;
}

#random-anime {
    /* display: flex; */
    display: inline-block;
    /* border: 1px solid; */
    border-radius: 3px;
    margin: 20px;
}

#card-image {
    width: 100%;
    height: 300px;
    border-radius: 3px;
    z-index: 1;
}

#card-title {
    /* position: absolute; */
    z-index: 2;
}